<% content_for :nav_links do %>
    <div class="nav-collapse">
      <ul class="nav pull-right">
				<% if current_user %>
        	<li><%= link_to "Welcome #{current_user.name}", my_account_path %></li>
        <% end %>
		<li class="divider-vertical"></li>		
          <li><%= link_to 'About', static_about_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to 'Help', contact_path %></li>
        <li class="divider-vertical"></li>
				
      </ul>
    </div>
<% end %>
<% if current_user %>
	Go to <%= link_to "My Account", my_account_path %>
<% else %>
	<%= form_tag "/auth/identity/callback" do %>
	


	<div class="hero-unit">
		<center>
		<h1>Black Pride Beauty Back Office</h1>
		<p>Build generations through sign ups, track earnings, get discounts, sell products and more. Sign in or sign up!</p>
	</center>
	</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
	<div class="sign-in">
		<center><h1>Sign In</h1></center><br />
		<div class="">
			<%= label_tag :auth_key, "Email" %>
			<%= text_field_tag :auth_key %>
	 	</div>
	 	<div class="">
			<%= label_tag :password %>
			<%= password_field_tag :password %>
	 	</div>
	 	<div class="actions">
			<%= submit_tag "Login", class: "btn btn-large btn-info" %><br /><br />
			<%= link_to "Forgot Password?", new_password_reset_path %>
	 	</div>
	</div>
	</div>
	<% end %>

	<div class="span6">
		<center><h1>Sign Up</h1></center><br /><br />
	<div class="sign-up">
		<h3><center>Don't have an account?</center></h3><br />
		<center><%= link_to "Register Here", new_identity_path, class: "btn btn-large btn-info" %></center>
	</div>
	</div>
</div>
<% end %>

