<% content_for :nav_links do %>
<div class="nav-collapse">
<ul class="nav">
	<li class="divider-vertical"></li>
	<li><%= link_to 'Account Home', my_account_path %></li>
	<li class="divider-vertical"></li>
	  <li><%= link_to 'About', static_about_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to 'Help', contact_path %></li>
	<li class="divider-vertical"></li>
</ul>
<div class="btn-group pull-right">
	<a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
		<i class="icon-user"></i>
		<%= @current_user.name %>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><%= link_to "Sign Out", logout_path %></li>
		<li><%= link_to "Edit Account", edit_user_path(current_user) %></li>
		<li><%= link_to 'Your Payments', payment_notifications_path %></li>
	</ul>
</div>
</div>
<% end %>


<h1>Editing user</h1>

<%= render 'form' %>

