<% content_for :nav_links do %>
<ul class="nav">
<li class="divider-vertical"></li>
<li><%= link_to 'Your Account', my_account_path %></li>
<li class="divider-vertical"></li>
    <li><a href="#about">About</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#help">Help</a></li>
    <li class="divider-vertical"></li>

</ul>
<div class="btn-group pull-right">
	<a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
		<i class="icon-user"></i>
		<%= @account.name %>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li>
			<%= link_to "Sign Out", logout_path %>
		</li>
		<li>
			<%= link_to "Edit Account", "#" %>
		</li>
	</ul>
</div>

<% end %>

<div class="row-fluid">
	<div class="span3">
		<div class="well sidebar-nav account-info">
			<h2><%= @account.name %></h2>
			<h4>Id - <a data-toggle="modal" href="#myModal" ><%= @account.referer_id %></a></h4><br />
			
			<h3>Membership Type</h3>
			<h4><%= package_badge_helper %></h4><br />
			<h3>Current Earnings</h3>
			<h4>$<%= @account.current_earnings %>.00</h4>

		</div>
	</div>
	<div class="span9">
    <ul id='myTab' class="nav nav-tabs">
		  <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
		  <li><a href="#commission" data-toggle="tab">Commission Pricing</a></li>
    </ul>
		<div id="myTabContent" class="tab-content">
			<div id="overview" class="tab-pane active fade in">
				<% if @account.has_platinum_package %>
					<%= render :partial => 'network' %>
				<% else %>
					<%= render :partial => 'pricing', :locals => {:account => @account} %>
				<% end -%>
			</div>
			<div id="commission" class="tab-pane fade">
						<%= render :partial => 'commission' %>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3><%= @account.name %></h3>
	</div>
	<div class="modal-body">
		<dl class="dl-horizontal">
			<dt>ID:</dt>
			<dd><%= @account.referer_id %>  </dd>
			<dt>Referred by: </dt>
			<dd><%= @account.parent.name %>	(ID: <%= @account.parent.referer_id %>) </dd>
		</dl>

	</div>
</div>


